EIDAS-Commons/eidas-commons.iml
EIDAS-ConfigModule/eidas-configmodule.iml
EIDAS-Encryption/eidas-encryption.iml
EIDAS-IdP-1.0/eidas-idp.iml
EIDAS-Light-Commons/eidas-light-commons.iml
EIDAS-Node/eidas-node.iml
EIDAS-Parent/.idea/
EIDAS-Parent/EIDAS-Parent.iml
EIDAS-Parent/eidas-parent.iml
EIDAS-SAMLEngine/eidas-saml-engine.iml
EIDAS-SP/eidas-sp.iml
EIDAS-Specific/eidas-specific.iml
EIDAS-SpecificCommunicationDefinition/eidas-specific-communication-definition.iml
EIDAS-UPDATER/eidas-updater.iml

*.log
EIDAS-Commons/eidas-commons.log.*
